<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:czeng07@gmail.com">email</a></li>
				<li><a href="Caren Zeng-- Resume 5-24.pdf">resume</a></li>
	        		<li><a href="https://github.com/czeng07">github</a></li>
				<li><a href="https://www.linkedin.com/in/caren-z-679293a5?trk=nav_responsive_tab_profile_pic">linkedin</a></li>
				<li><a href="http://facebook.com/profile.php?=73322363">someone I'd love to get in touch with</a></li>
				</ul>
			</footer>
		</body>
	</html>
